body {
	background: #222222;
	margin: 0;
	padding: 0;
}

table {
	height: 40%;
	left: 10%;
	margin: 170px auto;
	overflow-y: scroll;
	position: static;
	width: 70%
}

tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
}

td, th {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 30px;
	padding: 12px;
	text-align: center;
}

.header {
	box-sizing: border-box;
	background-color: #3587A4;
	overflow: auto;
	padding: 0px 0px;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 999;
}


ul {
	margin: 0px;
}


.img-header {
	color: #FFF;
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.text-header {
	color: #FFF;
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 2px;
	margin: 0px;
	padding: 44px 18px 0px 18px;
	text-transform: uppercase;
	vertical-align: top;
}


.header-logo {
	padding: 10px 10px 0px 30px;
}

.title {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: black;
}

.quote {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: gray;
	font-style: italic;
}

.title-bar {
	box-sizing: border-box;
	background-color: #f4f7f8;
	overflow: auto;
	padding: 18px 50px;
	position: absolute;
	top: 100;
	width: 100%;
	z-index: 1;
}

.name-cell {
	width: 10%;
}

.value-cell {
	width: 20%;
}